<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">
        <button>Go to home page</button>
    </a>
    <h1>Sent message:</h1>
    <form action="" method="post">
        <input type="text" name="message" id="message" placeholder="Sample message">
        <input type="text" name="user" id="user" placeholder="Who Are U?">
        <button type="submit">Send</button>
    </form>
</body>
</html>